/* Apply mobile responsiveness using media queries */

/* Base styles */
.expenses-tracking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Reduced padding for smaller screens */
  margin-top: 30px; /* Ensure content is below the navbar */
}

/* Title */
.expenses-tracking-title {
  color: #1f7a74;
  font-size: 24px; /* Smaller font size for better fit on small screens */
  font-weight: bold;
  margin-bottom: 20px; 
  margin-top: 70px;
}

/* Table */
.expenses-tracking-table {
  width: 100%;
  border-collapse: collapse;
}

.expenses-tracking-table th {
  border: 1px solid #1f7a74;
  padding: 10px;
  text-align: left;
  color: #fff;
}

.expenses-tracking-table td {
  border: 1px solid #1f7a74;
  padding: 10px;
  text-align: left;
  font-size: 14px; /* Smaller font size for better fit on small screens */
}

/* Form */
.expenses-tracking-form {
  display: flex;
  flex-direction: column; /* Stack input fields in a column on small screens */
  align-items: center;
  margin-bottom: 20px; /* Reduced margin for spacing */
}

.expenses-tracking-form input {
  width: 100%; /* Full width for smaller screens */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #1f7a74;
  border-radius: 5px;
}

.expenses-tracking-form button {
  padding: 10px;
  background-color: #1f7a74;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Total Expenses */
.total-expenses {
  color: #1f7a74;
  font-size: 20px; /* Slightly smaller font size for smaller screens */
  font-weight: bold;
}
