/* Add these styles for the mobile menu icon */
.navbar__menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar.mobile-open .navbar__menu-toggle .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar.mobile-open .navbar__menu-toggle .bar:nth-child(2) {
  opacity: 0;
}

.navbar.mobile-open .navbar__menu-toggle .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Adjust existing styles for smaller screens */
@media (max-width: 768px) {
  .navbar__menu-toggle {
    display: block;
  }

  .navbar__menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #00b8d4;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar.mobile-open .navbar__menu {
    max-height: 300px; /* Adjust the height as needed */
  }

  .navbar__item {
    margin-left: 0;
    text-align: center;
  }

  .navbar__link {
    padding: 1rem;
  }

  .navbar__brand {
    margin: 1rem;
    text-align: center;
  }
}
